body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: blue;
    position: absolute;
    background-color: rgb(21, 21, 21);
}
li {
    font-size: 16px;
    font-style: italic;
}
